<%- include('./partials/header') %>

<div id="welcome">
<h2>Welcome to Wolfbergr!</h2>

<p>Wolfbergr is an interactive online burger builder where you may create, view, delete, and review your very own burger creations. </p>    
<br>
<p>We have a great list of preselected ingredients, or you're welcome to add to our custom ingredient list!</p>
<p>Any custom ingredient will be instantly available to you for your burger creation.</p>
<br>
<p>Create, view, and save all the burgers and ingredients you can imagine. View and review your friends creations!</p>
<br>
<p>Make delicious (or gross) things and have fun!</p>
</div>


<%- include('./partials/footer') %>