<%- include('./partials/header') %>

<div id="welcome">
<h2>Welcome to Wolfbergr!</h2>

<p>Wolfbergr is an interactive online burger building experience.</p>
<p>On this app, you may create, view, delete, and review your own burger masterpieces.</p>    
<br>
<p>We have a tasty list of preselected ingredients, or you're welcome to add to our custom ingredient list!</p>
<p>Any custom ingredient will be instantly available to you for your next exciting burger creation.</p>
<br>
<p>Create, view, and save all the burgers and ingredients you can imagine. View and review your friends creations!</p>
<br>
<p>Make delicious (or gross) things and have fun!</p>
</div>

<div id="wolfbergr-box">
<img id="wolfbergr" src="/images/WOLFBERGR.png" alt="WOLFBERGR">
</div>

<%- include('./partials/footer') %>