body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}
nav {
  display: flex;
  background-color: burlywood;
  padding: 1vmin;
  border-radius: 25%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
h1, h2 {
  display: flex;
  justify-content: center;
}

a {
  color: #00B7FF;
}
a:hover {
  color: darkblue
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
#welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#badge-container, #add-ingredient-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
}

.badge, .badgeButton, .badgeButton2 {
  background-color: burlywood;
  padding: .5rem;
  margin: .5rem .5rem 0 .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
  justify-content: center;
}

.badgeButton, .badgeButton2 {
  background-color: lightgray;
}

.badgeButton:hover {
  background-color: red;
}

.badge2 {
  padding: .2rem;
  margin: .5rem .5rem 0 .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

.badgeButton2:hover {
  background-color: lightgreen;
}

#new-form, #show-page {
  padding: .5rem;
  margin: .5rem .5rem 0 .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}
#cust-ing-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.review-user, #add-review-form, #reviews-empty {
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.edit-review-button, .delete-review-button, .add-review-button {
  padding: 0.5vmin;
  border-radius: 10%;
}

.edit-review-button:hover {
  background-color: goldenrod;
}

.delete-review-button:hover {
  background-color: red;
}

.add-review-button:hover {
  background-color: lightgreen;
}