body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}
nav {
  display: flex;
  background-color: burlywood;
  padding: 1vmin;
  border-radius: 25%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
h1, h2 {
  display: flex;
  justify-content: center;
}

a {
  color: #00B7FF;
}
a:hover {
  color: darkblue
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
#welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#badge-container, #add-ingredient-form, #update-review-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
}

.badge, .badgeButton, .badgeButton2 {
  background-color: burlywood;
  padding: .5rem;
  margin: .5rem .5rem 0 .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
  justify-content: center;
}

.badgeButton, .badgeButton2 {
  background-color: lightgray;
}

.badgeButton:hover {
  background-color: red;
}

.badge2 {
  padding: .2rem;
  margin: .5rem .5rem 0 .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

.badgeButton2:hover {
  background-color: lightgreen;
}

#new-form, #show-page {
  padding: .5rem;
  margin: .5rem .5rem 0 .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}
#cust-ing-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.review-user, #add-review-form, #reviews-empty {
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.edit-review-button, .delete-review-button, .add-review-button {
  padding: 0.5vmin;
  border-radius: 10%;
}

.edit-review-button:hover {
  background-color: goldenrod;
}

.delete-review-button:hover {
  background-color: red;
}

.add-review-button:hover {
  background-color: lightgreen;
}
.burger {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  flex-wrap: wrap;
}

.burger-render {
  height: 500px;
  width: 50%;
  row-gap: 10px;
  margin: 5vmin;
}
#top-bun {
  height: 70px;
  background-image: radial-gradient(whitesmoke 5%, transparent 5%),
  radial-gradient(whitesmoke 5%, transparent 5%);
  background-color: tan;
  border-radius: 63% 66% 10% 10%;
  background-position: 0 0 , 50px 50px;
  background-size: 85px 80px;
  margin: 3px;
}
#gftop-bun {
  height: 70px;
  background-image: radial-gradient(white 5%, transparent 5%),
  radial-gradient(black 5%, transparent 5%);
  background-color: burlywood;
  border-radius: 66% 69% 10% 10%;
  background-position: 0 0 , 50px 50px;
  background-size: 87px 80px;
  margin: 3px;
}
#customtop-bun {
  height: 70px;
  background-color: tan;
  border-radius: 60% 60% 10% 10%;
  margin: 3px;
  text-align: center;
  font-size: 2vmin;
  color: white;
}

.sauce {
  height: 4px;
  margin: 3px;
}
.Ketchup {
  background-color: tomato;
}
.Mustard {
  background-color: gold;
}
.Mayonaise {
  background-color: white;
}
.Thousand-Island {
  background-color: orange;
}
.Sriracha {
  background-color: crimson;
}
.Hot-Sauce {
  background-color: darkred;
}
.BBQ {
  background-color: brown;
}
.toppings {
  height: 12px;
  margin: 3px;
}
.Lettuce {
  background-color: lightgreen;
}
.Tomatoes {
  background-color: tomato;
}
.Raw-Onions {
  background-color: whitesmoke;
  border: solid 1px lightgray
}
.Grilled-Onions {
  background-color: lightgray;
}
.Pickles {
  background-color: green;
}
.Bacon {
  background-color: brown;
}
#cheddar-cheese {
  height: 15px;
  background-color: rgb(245, 225, 111);
  margin: 3px;
}
#swiss-cheese {
  height: 15px;
  background-color: rgb(245, 242, 221);
  margin: 3px;
}
#jack-cheese {
  height: 15px;
  background-color: rgb(238, 237, 181);
  margin: 3px;
}
#bleu-cheese {
  height: 15px;
  background-color: lightskyblue;
  margin: 3px;
}
#american-cheese {
  height: 15px;
  background-color: gold;
  margin: 3px;
}
#custom-cheese {
  height: 15px;
  background-color: gold;
  margin: 3px;
  text-align: center;
  font-size: 1vmin;
  color: white;
}
#beef-patty {
  height: 5vmin;
  background-image: radial-gradient(whitesmoke 7%, transparent 8%),
  radial-gradient(whitesmoke 7%, transparent 10%);
  background-color: brown;
  border-radius: 20% 20% 10% 10%;
  background-position: 0 0 , 50px 50px;
  background-size: 80px 100px;
  margin: 3px;
}
#chicken-patty {
  height: 5.5vmin;
  background-image: radial-gradient(whitesmoke 11%, transparent 16%),
  radial-gradient(whitesmoke 14%, transparent 14%);
  background-color: rgb(150, 84, 4);
  border-radius: 27% 33% 24% 7%;
  background-position: 0 0 , 50px 50px;
  background-size: 64px 100px;
  margin: 3px;
}
#veggie-patty {
  height: 5vmin;
  background-image: radial-gradient(#cb5b16 12%, transparent 34%),
  radial-gradient(#488a05 9%, transparent 30%);
  background-color: rgb(147, 105, 47);
  background-position: 0 0 , 50px 50px;
  background-size: 70px 100px;
  border-radius: 23% 23% 10% 10%;
  margin: 3px;
}
#bean-patty {
  height: 5vmin;
  border-radius: 23% 23% 10% 10%;
  margin: 3px;
  background-image: radial-gradient(#212121 22%, transparent 33%),
      radial-gradient(#e3b915 12%, transparent 22%);
  background-color: #764f4f;
  background-position: 0 0, 50px 50px;
  background-size: 85px 100px;
}
#impossible-patty {
  height: 5vmin;
  background-image: radial-gradient(whitesmoke 7%, transparent 8%),
  radial-gradient(whitesmoke 7%, transparent 10%);
  background-color: rgb(92, 51, 1);
  border-radius: 23% 23% 10% 10%;
  margin: 3px;
  background-position: 0 0, 50px 50px;
  background-size: 80px 100px;
}
#custom-patty {
  height: 5vmin;
  background-image: radial-gradient(whitesmoke 7%, transparent 8%),
  radial-gradient(whitesmoke 7%, transparent 10%);
  background-color: rgb(193, 133, 108);
  border-radius: 23% 23% 10% 10%;
  margin: 3px;
  background-position: 0 0, 50px 50px;
  background-size: 80px 100px;
  text-align: center;
  font-size: 2vmin;
  color: white;
}
#bottom-bun {
  height: 50px;
  background-color: tan;
  border-radius: 10% 10% 30% 30%;
  margin: 3px;
}
#lettuce-wrap {
  height: 2vmin;
  background-image: radial-gradient(whitesmoke 5%, transparent 8%),
  radial-gradient(whitesmoke 5%, transparent 10%);
  background-color: lightgreen;
  border-radius: 29% 20% 33% 18%;
  background-position: 0 0, 50px 50px;
  background-size: 25px 100px;
  margin: 3px;
}
#gfbottom-bun {
  height: 50px;
  background-color: burlywood;
  border-radius: 10% 10% 30% 30%;
  margin: 3px;
}
#custombottom-bun {
  height: 50px;
  background-color: tan;
  border-radius: 10% 10% 30% 30%;
  margin: 3px;
  text-align: center;
  font-size: 2vmin;
  color: white;
}