body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}
nav {
  display: flex;
  background-color: burlywood;
  padding: 1vmin;
  border-radius: 25%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
h1, h2 {
  display: flex;
  justify-content: center;
}

a {
  color: #00B7FF;
}
a:hover {
  color: darkblue
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
#welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#badge-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* padding: 1rem; */
  width: 10%;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge, .badgeButton {
  background-color: burlywood;
  padding: .5rem;
  margin: .5rem .5rem 0 .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
  
}

.badgeButton {
  background-color: lightgray;
}

.badgeButton:hover {
  background-color: red;
}

.badge2 {
  padding: .5rem;
  margin: .5rem .5rem 0 .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

#new-form {
  padding: .5rem;
  margin: .5rem .5rem 0 .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}