<%- include('../partials/header') %>


<section id="badge-container">
    <h5>Custom Ingredients:</h5>
  <% ingredients.forEach(function(i) { %>
    <article class="badge"><%= i.name + ' -- ' + i.position %></article>
    <% if (user && user._id.equals(i.userId)) { %>
        <form action="/ingredients/<%= i._id %>?_method=DELETE" method="POST">
          <button class="badgeButton" type="submit">Delete Ingredient</button>
        </form>
       <% } %>
  <% }) %>
 
</section>

<form id="add-ingredient-form" action="/ingredients" autocomplete="off" method="POST">

  <h5>Add your custom ingredient, and define it's position - (Bun, Patty, Cheese, Toppings, Sauce)</h5>
  <input class="badge2" type="text" placeholder="Ingredient" name="name">
  <label>Position: </label>
        <select name="position">
            <option value="Bun">Bun</option>
            <option value="Patty">Patty</option>
            <option value="Cheese">Cheese</option>
            <option value="Toppings">Toppings</option>
            <option value="Sauce">Sauce</option>
        </select>
  <input class="badgeButton2" type="submit" value="Add Ingredient">
</form>



<%- include('../partials/footer') %>