<%- include('../partials/header') %>

<h5>Custom Ingredients:</h5>
<section id="badge-container">
  <% ingredients.forEach(function(i) { %>
    <article class="badge"><%= i.name %></article>
  <% }) %>
</section>

<form id="add-ingredient-form" action="/ingredients" method="POST">

  <h5>Add your custom ingredient, and define it's position - (patty, cheese, sauce, toppings)</h5>
  <input type="text" placeholder="Ingredient" name="name">
  <input type="text" placeholder="Position" name="position">
  <input type="submit" value="Add Ingredient">
</form>

<%- include('../partials/footer') %>