<%- include('../partials/header') %>

<h5>Custom Ingredients:</h5>
<section id="badge-container">
  <% ingredients.forEach(function(i) { %>
    <article class="badge"><%= i.name + ' -- ' + i.position %></article>
    <% if (user) { %>
        <form action="/ingredients/<%= i._id %>?_method=DELETE" method="POST">
          <button class="badgeButton" type="submit">Delete Ingredient</button>
        </form>
       <% } %>
  <% }) %>
 
</section>

<form id="add-ingredient-form" action="/ingredients" method="POST">

  <h5>Add your custom ingredient, and define it's position - (patty, cheese, sauce, toppings)</h5>
  <input class="badge2" type="text" placeholder="Ingredient" name="name">
  <input class="badge2" type="text" placeholder="Position" name="position">
  <input class="badgeButton" type="submit" value="Add Ingredient">
</form>

<%- include('../partials/footer') %>